<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision & Language Navigation</title>
    <link href="{{ url_for('static', filename='styles.css')}}"
    rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <h1>Vision & Language Navigation</h1>
        <p>FYP Group 12</p>
    </header>

    <main>
        <div id="image-container">
            <img id="image1" src="/images/image1.png" alt="Image 1">
            <img id="image2" src="/images/image2.png" alt="Image 2">
        </div>

        <div id="input-container">
            <button id="ready-btn">Ready</button>
            <input type="text" id="instruction-input" placeholder="Please enter instruction">
        </div>

        <div id="recent-container">
            <h2>Recent</h2>
            <ul id="recent-list"></ul>
        </div>
    </main>

    <script src="{{ url_for('static',filename='javascriptFileName.js') }}"> </script></body>
</html>